* {
  padding: 0;
  margin: 0%;
}
body {
  background-image: url(Imagens/BackGround.jpg);
  height: 400vh;
}
#tag h1 {
  margin-top: 40px;
}
.card-group {
  max-width: 600px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: contents;
  letter-spacing: 2px;
}
.carousel .carousel-inner {
  height: 100vh;
  width: 100%;
}
.carousel .carousel-indicators {
  margin-bottom: 560px;
}
.card-group:hover {
  animation: influencer 6s infinite;
}
.Video{
  margin-left: 50px;
}
.DiscordE{
  margin-left: 60%;
  margin-top: -34%;
}
@keyframes influencer {
  25% {
    box-shadow: 1px 1px 10px 15px aqua;
  }
  50% {
    box-shadow: 1px 1px 10px 15px red;
  }
  75% {
    box-shadow: 1px 1px 10px 15px green;
  }
  100% {
    box-shadow: 1px 1px 10px 15px aqua;
  }
}
